.example-card {
    width: 350px;
    height: 350px;
    background: darkkhaki;
    padding: 10px;
    margin: 20px;
    text-align: center;
  }

.head{
  font-weight: bold;
  font-size: 25px;
  margin:20px;
  padding: 10px;
}

.mid{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.father{
  background-image: linear-gradient(to right top, #77a2e3, #5cbade, #79cbcb, #aad6be, #d6dec3);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.operation{
  font-size: 40px;
  font-weight: bold;
  color: darkslategray;
}